@import url('https://fonts.googleapis.com/css?family=PT+Sans');

* {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(red,black);
}

.card {
    position: relative;
    width: 320px;
    height: 450px;
    border-radius: 30px;
     overflow: hidden; 
     box-shadow: 0 15px 35px rgba(0, 0,0, 0.25);
}




.card .poster {
    position: relative;
    overflow: hidden;

}

.card .poster::before{
    content: '';
    position: absolute;
    bottom: -180px;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg,rgba(0, 0, 0, 0.733) 50%,
    transparent);
    transition: 0.5s;
    z-index: 1;
}

.card:hover .poster::before{
    bottom: 0px;
}

.card .poster img {
    width: 100%;
    transition: 0.5s;
}

.card:hover .poster img{
    transform: translateY(-20px);
    filter: blur(5px);
}

.card .details {
    position: absolute;
    width: 100%;
    bottom: -240px;
    left: 0;
    padding: 20px;
    z-index: 2;
    transition: 0.5s;
}

.card:hover .details {
    bottom: 40px;
}


.card .details .logo{
    max-width: 180px;
}


.card .details h3{
    font 14px;
    color: white;
}

.card .details .tags{
    position:  relative;
    margin-top: 5px;
}

.card .details .tags span{
    padding: 2px 5px;
    color: white;
    background: green;
    border-radius: 20px;
}


.card .details .tags span:nth-child(2){
    background: orange;
}
.card .details .tags span:nth-child(3){
    background: yellowgreen;
}

.card .details .info {
    text-align: justify;
    color: white;
    margin-top: 10px;
}


.card .details .cast {
    position: relative;
}

.card .details .cast h4{
    color: white;
    margin-top: 10px;
}

.card .details .cast ul{
    position: relative;
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.card .details .cast ul li{
    list-style: none;
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid white;
}

.card .details .cast ul li img{
    max-width: 100%;
}